/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:cce5bf26f0edc9df16d05eaea448cf24:185a502dd991ff30f9b9e154c0d38a7a:1e9ea531edb030fd06c741d8d5dec72b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url($icon/sprite.png);}

.actividades {width:27px; height:15px; background-position: -2px -2px}
.actividades:hover {width:27px; height:15px; background-position: -2px -19px}
.calendario {width:16px; height:16px; background-position: -168px -38px}
.calendario:hover {width:16px; height:16px; background-position: -186px -38px}
.clima {width:21px; height:19px; background-position: -31px -2px}
.clima:hover {width:21px; height:19px; background-position: -54px -2px}
.contacto {width:15px; height:9px; background-position: -151px -39px}
.contacto:hover {width:15px; height:9px; background-position: -224px -33px}
.convenciones {width:16px; height:23px; background-position: -77px -2px}
.convenciones:hover {width:16px; height:23px; background-position: -95px -2px}
.directorio {width:15px; height:12px; background-position: -79px -42px}
.directorio:hover {width:15px; height:12px; background-position: -96px -42px}
.espanol {width:19px; height:12px; background-position: -58px -42px}
.facebook {width:16px; height:17px; background-position: -150px -20px}
.facebook:hover {width:16px; height:17px; background-position: -206px -19px}
.galeria {width:18px; height:15px; background-position: -193px -2px}
.galeria:hover {width:18px; height:15px; background-position: -213px -2px}
.grupos {width:18px; height:16px; background-position: -113px -2px}
.grupos:hover {width:18px; height:16px; background-position: -133px -2px}
.home {width:17px; height:15px; background-position: -233px -2px}
.home:hover {width:17px; height:15px; background-position: -132px -39px}
.hospedaje {width:17px; height:14px; background-position: -113px -40px}
.hospedaje:hover {width:17px; height:14px; background-position: -204px -38px}
.idioma {width:14px; height:12px; background-position: -224px -19px}
.idioma:hover {width:14px; height:12px; background-position: -240px -19px}
.ingles {width:19px; height:13px; background-position: -77px -27px}
.instagram {width:16px; height:18px; background-position: -40px -36px}
.instagram:hover {width:16px; height:18px; background-position: -113px -20px}
.paquetes {width:18px; height:15px; background-position: -153px -2px}
.paquetes:hover {width:18px; height:15px; background-position: -173px -2px}
.pinterest {width:17px; height:17px; background-position: -168px -19px}
.pinterest:hover {width:17px; height:17px; background-position: -187px -19px}
.search {width:13px; height:13px; background-position: -98px -27px}
.search:hover {width:13px; height:13px; background-position: -241px -33px}
.twitter {width:17px; height:17px; background-position: -58px -23px}
.twitter:hover {width:17px; height:17px; background-position: -131px -20px}
.user {width:11px; height:11px; background-position: -31px -23px}
.user:hover {width:11px; height:11px; background-position: -44px -23px}
.youtube {width:17px; height:18px; background-position: -2px -36px}
.youtube:hover {width:17px; height:18px; background-position: -21px -36px}
