/* COLOR
===============================*/
// Text

$verdeColor= #67AF3B
$blancoColor= #ffffff
$grisClaroColor= #F2F2F2


$baseColor = silver
$linkColor = #000
$activeColor = #ccc
$titleColor = green
$subTitleColor = lime
$highlightLink = yellow

// Background
$mainBgColor = #ebebeb
$mainContentColor = #fff

// Border
$borderColor = silver
$importantBorderColor = orange

// Status
$alertColor = pink
$errorColor = red


/* FONT
===============================*/
// font family
$contentFont = 'Georgia'
$mainTitleFont = 'oswaldbook'
$titleFont = 'oswaldbook'
$subTitleFont = 'futura_ndmedium_oblique','Futura'
// font size
$contentFont_size = 14px
$mainTitleFont_size = 26px
$titleFont_size = 22px
$subTitleFont_size = 18px


/* LAYOUT
===============================*/
// Width
$siteW = 1020px
$asideW = $siteW / 3
$mainW = $asideW * 2

// Columns
$cols = 4
$col_padding = 10px
$col_margin = 12px
$col_1 = ( ( $siteW / $cols ) - ( $col_padding * 2 ) - ( $col_margin ) )  + ( $col_margin / $cols )
$col_2 = $col_1 * 2
$col_3 = $col_1 * 3