@font-face {
    font-family: 'oswaldbook';
    src: url('assets/fonts/oswald-regular-webfont.eot');
    src: url('assets/fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/oswald-regular-webfont.woff') format('woff'),
         url('assets/fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_ndmedium_oblique';
    src: url('assets/fonts/futura-webfont.eot');
    src: url('assets/fonts/futura-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/futura-webfont.woff') format('woff'),
         url('assets/fonts/futura-webfont.ttf') format('truetype'),
         url('assets/fonts/futura-webfont.svg#futura_ndmedium_oblique') format('svg');
    font-weight: normal;
    font-style: normal;

}